@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oswald&family=Permanent+Marker&family=Roboto+Condensed&family=Roboto:wght@100;300;400;500&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------Background Images------------------------------*/



/*------------------------------Header------------------------------*/
header {
    background-color: #F17819;
    height: 165px;
}

.header-title {
    text-align: center;
    color: white;
}

.page-header {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    justify-content: center;
}

.page-navigation-box {
    justify-content: right;
    padding-right: 20px;
}

.page-navigation {
    padding-right: 20px;
}

.nav-text {
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

.menu-button {
    color: white;
}

.how-to-title {
    font-size: 25px;
    font-family: "Roboto Condensed", sans-serif;
}

.country-title {
    font-size: 35px;
    font-family: "Roboto Condensed", sans-serif;
}

/*------------------------------Padding/Margins/Text------------------------------*/

html body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #212020;
}

main {
    flex: 1;
}

.uppercase {
    text-transform: uppercase;
}

#about-the-netherlands-surround {
    border-color: #F17819;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.about-the-netherlands {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
}

#why-wear-around-surround {
    border-color: #F17819;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.why-wear-orange {
        color: white;
        font-family: "Roboto Condensed", sans-serif;
        text-align: center;
    }

.why-were-orange-links {
    list-style-type: none;
    border: none;
    text-decoration: none;
    text-align: center;
}

.why-were-orange-links li a {
    color: white;
    text-decoration: none;
}

#netherlands-video {
    margin-top: 30px;
    margin-left: 20px;
}

#video-source-credit {
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-size: 10px;
    color: white;
}

#video-source-credit a {
    text-decoration: none;
    color: white;
}

/*----Rotterdam----*/

.rotterdam-page-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-rotterdam {
    border-color: #F17819;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-rotterdam a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-rotterdam {
    border-color: #F17819;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-rotterdam a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-rotterdam {
    border-color: #F17819;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-rotterdam a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#rotterdam-map {
    margin-top: 30px;
    margin-bottom: 10px; 
}

.rotterdam-map-frame {
    overflow: hidden;
    padding-bottom: 25%;
    position: relative;
    height: 0;
}

.rotterdam-map-frame iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*----Utrecht----*/
 
.utrecht-page-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-utrecht {
    border-color: #F17819;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-utrecht a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-utrecht {
    border-color: #F17819;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-utrecht a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-utrecht {
    border-color: #F17819;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-utrecht a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#utrecht-map {
    margin-top: 30px;
    margin-bottom: 10px; 
}

.utrecht-map-frame {
    overflow: hidden;
    padding-bottom: 25%;
    position: relative;
    height: 0;
}

.utrecht-map-frame iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*----Dordrecht----*/
 
.dordrecht-page-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-dordrecht {
    border-color: #F17819;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-dordrecht a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-dordrecht {
    border-color: #F17819;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-dordrecht a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-dordrecht {
    border-color: #F17819;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-dordrecht a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#dordrecht-map {
    margin-top: 30px;
    margin-bottom: 10px; 
}

.dordrecht-map-frame {
    overflow: hidden;
    padding-bottom: 25%;
    position: relative;
    height: 0;
}

.dordrecht-map-frame iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*------------------------------Footer------------------------------*/

footer {
    min-height: 60px;
    margin-top: 30px;
    background-color: #F17819;
}

#social-media-links li a {
    text-decoration: none;
    color: white;
}

#social-media-links li {
    display: inline;
}

.social-media {
    padding-right: 30px;
    padding-top: 10px;
}

.social-media ul li {
    list-style-type: none;
    border: none;
    text-decoration: none;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 25px;
}

#contact-us-footer {
    padding-right: 30px;
    padding-top: 10px;
    font-size: 25px;
}

#contact-us-footer li a {
    color: white;
}

.contact-us-footer-link {
    float: right;
    list-style-type: none;
}

/*------------------------------Media Queries------------------------------*/

@media only screen and (max-width: 768px) {
    .how-to-title {
        font-size: 15px;
    }
    .country-title {
        font-size: 25px;
    }

    .social-media ul li {
        padding: 5px;
        font-size: 18px;
    }
    #contact-us-footer {
        font-size: 18px;
    }

    #navbarNav {
        background-color: #F17819;
    }
    
}

@media only screen and (max-width: 576px) {
    .how-to-title {
        font-size: 10px;
    }
    .country-title {
        font-size: 16px;
    }

    .social-media ul li {
        padding: 2px;
        font-size: 16px;
    }

    #contact-us-footer {
        font-size: 16px;
    }

    #navbarNav {
        background-color: #F17819;
    }
    
}