@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oswald&family=Permanent+Marker&family=Roboto+Condensed&family=Roboto:wght@100;300;400;500&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------Header------------------------------*/

header {
    background-color: #ff6000;
    z-index: 2;
}

.header-title {
    text-align: center;
    color: black;
}

.page-header {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    justify-content: center;
}

.page-navigation-box {
    justify-content: right;
    padding-right: 20px;
}

#navbarNav {
    background-color: #ff6000;
    z-index: 2;
}

.page-navigation {
    padding-right: 20px;
}

.nav-text {
    color: black;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

.how-to-title {
    font-size: 25px;
    font-family: "Roboto Condensed", sans-serif;
}

.country-title {
    font-size: 35px;
    font-family: "Roboto Condensed", sans-serif;
}

/*------------------------------Padding/Margins/Text------------------------------*/

body {
    background-color: #454545;
}

main {
    flex: 1;
}

.uppercase {
    text-transform: uppercase;
}

/*----Index----*/

.youtube-video-homepage {
    overflow:hidden;    
    padding-bottom:56.25%;    
    position:relative;    
    height:0;    
}

.youtube-video-homepage iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*--Snipped taken from adobe forum--*/

#about-the-netherlands-surround {
    border-color: #ff6000;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
}

.about-the-netherlands {
    color: #FFF6EC;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
}

#why-wear-around-surround {
    border-color: #ff6000;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
}

.why-wear-orange {
        color: #FFF6EC;
        font-family: "Roboto Condensed", sans-serif;
        text-align: center;
    }

.why-were-orange-links {
    list-style-type: none;
    border: none;
    text-decoration: none;
    text-align: center;
}

.why-were-orange-links li a {
    color: #FFF6EC;
    text-decoration: none;
}

#netherlands-video {
    margin-top: 30px;
}

#video-source-credit {
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-size: 10px;
    color: #FFF6EC;
}

#video-source-credit a {
    text-decoration: none;
    color: #FFF6EC;
}

/*----Rotterdam----*/

.rotterdam-page-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffe6c7;
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-rotterdam {
    border-color: #ff6000;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    color: #FFF6EC;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-rotterdam a {
    text-decoration: none;
    color: #FFF6EC;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-rotterdam {
    border-color: #ff6000;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    color: #FFF6EC;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-rotterdam a {
    text-decoration: none;
    color: #FFF6EC;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-rotterdam {
    border-color: #ff6000;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    color: #FFF6EC;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-rotterdam a {
    text-decoration: none;
    color: #FFF6EC;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#rotterdam-map {
    margin-top: 30px;
    margin-bottom: 10px; 
}

.rotterdam-map-frame {
    overflow: hidden;
    padding-bottom: 25%;
    position: relative;
    height: 0;
}

.rotterdam-map-frame iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*----Utrecht----*/
 
.utrecht-page-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffe6c7;
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-utrecht {
    border-color: #ff6000;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    color: #FFF6EC;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-utrecht a {
    text-decoration: none;
    color: #FFF6EC;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-utrecht {
    border-color: #ff6000;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    color: #FFF6EC;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-utrecht a {
    text-decoration: none;
    color: #FFF6EC;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-utrecht {
    border-color: #ff6000;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    color: #FFF6EC;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-utrecht a {
    text-decoration: none;
    color: #ffe6c7;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#utrecht-map {
    margin-top: 30px;
    margin-bottom: 10px; 
}

.utrecht-map-frame {
    overflow: hidden;
    padding-bottom: 25%;
    position: relative;
    height: 0;
}

.utrecht-map-frame iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*----Dordrecht----*/
 
.dordrecht-page-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffe6c7;
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-dordrecht {
    border-color: #ff6000;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    color: #FFF6EC;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-eat-dordrecht a {
    text-decoration: none;
    color: #FFF6EC;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-dordrecht {
    border-color: #ff6000;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    color: #FFF6EC;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#what-not-to-miss-dordrecht a {
    text-decoration: none;
    color: #FFF6EC;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-dordrecht {
    border-color: #ff6000;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    color: #FFF6EC;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#where-to-visit-dordrecht a {
    text-decoration: none;
    color: #FFF6EC;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#dordrecht-map {
    margin-top: 30px;
    margin-bottom: 10px; 
}

.dordrecht-map-frame {
    overflow: hidden;
    padding-bottom: 25%;
    position: relative;
    height: 0;
}

.dordrecht-map-frame iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*----Contact Us Page----*/

.contact-us-page-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffe6c7;
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
}

.contact-us-form {
    color: #ffe6c7;
}

.contact-us {
    text-align: center;
}

.contact-us-form label {
    display: block;
    padding-bottom: 10px;
}

.contact-us-form input {
    margin-bottom: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  /*--code snippet taken from w3 schools--*/

.contact-us-form fieldset {
    border: solid;
    text-align: center;
    display: block;
    padding: 20px;
    margin: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

fieldset legend {
    float: none;
    font-size: 25px;
}

#reset-button {
    background-color: #ff6000;
    color: black;
    border: black;
}

#reset-button:hover {
    background-color: #DA0C0C;
}

#submit-button {
    background-color: #ff6000;
    color: black;
    border: black;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

#submit-button:hover {
    background-color: #5AC000;
}

/*----Gallery----*/

#rotterdam-gallery {
    margin-top: 40px;
}

#rotterdam-gallery h1 {
    color: #ffe6c7;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

#rotterdam-gallery h5 {
    color: #ffe6c7;
    background-color: rgba(0, 0, 0, 0.60);
    font-family: "Roboto Condensed", sans-serif;
}

#rotterdam-gallery p {
    color: #ffe6c7;
    background-color: rgba(0, 0, 0, 0.60);
    font-family: "Roboto Condensed", sans-serif;
}

#utrecht-gallery {
    margin-top: 40px;
}

#utrecht-gallery h1 {
    color: #ffe6c7;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

#utrecht-gallery h5 {
    color: #ffe6c7;
    background-color: rgba(0, 0, 0, 0.60);
    font-family: "Roboto Condensed", sans-serif;
}

#utrecht-gallery p {
    color: #ffe6c7;
    background-color: rgba(0, 0, 0, 0.60);
    font-family: "Roboto Condensed", sans-serif;
}

#dordrecht-gallery {
    margin-top: 40px;
    margin-bottom: 20px;
}

#dordrecht-gallery h1 {
    color: #ffe6c7;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

#dordrecht-gallery h5 {
    color: #ffe6c7;
    background-color: rgba(0, 0, 0, 0.60);
    font-family: "Roboto Condensed", sans-serif;
}

#dordrecht-gallery p {
    color: #ffe6c7;
    background-color: rgba(0, 0, 0, 0.60);
    font-family: "Roboto Condensed", sans-serif;
}

/*----Submit Page----*/

#submit-page-buttons a {
    background-color: #ff6000;
    color: black;
    border: black;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
}

#thankyou-section h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: #ffe6c7;
    font-size: 60px;
    font-family: "Roboto Condensed", sans-serif;
}

#thankyou-section h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: #ffe6c7;
    font-size: 35px;
    font-family: "Roboto Condensed", sans-serif;
}

#next-update-list {
    text-align: start;
    font-size: 25px;
    color: #ffe6c7;
    font-family: "Roboto Condensed", sans-serif;
}

/*------------------------------Footer------------------------------*/

footer {
    min-height: 60px;
    margin-top: 30px;
    background-color: #ff6000;
}

#social-media-links li a {
    text-decoration: none;
    color: black;
}

#social-media-links li {
    display: inline;
}

.social-media {
    padding-right: 30px;
    padding-top: 10px;
}

.social-media ul li {
    list-style-type: none;
    border: none;
    text-decoration: none;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 25px;
}

#contact-us-footer {
    padding-right: 30px;
    padding-top: 10px;
    font-size: 25px;
}

#contact-us-footer li a {
    color: black;
}

.contact-us-footer-link {
    float: right;
    list-style-type: none;
}

/*------------------------------Media Queries------------------------------*/

@media only screen and (max-width: 1200px) {
    
    .page-header {
        padding: 25px;
    }
    
    .how-to-title {
        font-size: 20px;
    }
    .country-title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 576px) {
    .how-to-title {
        font-size: 15px;
    }
    .country-title {
        font-size: 25px;
    }

    .social-media ul li {
        padding: 5px;
        font-size: 18px;
    }
    #contact-us-footer {
        font-size: 18px;
    }
    
}

@media only screen and (max-width: 395px) {
    .how-to-title {
        font-size: 10px;
    }
    .country-title {
        font-size: 16px;
    }

    .social-media ul li {
        padding: 2px;
        font-size: 16px;
    }

    #contact-us-footer {
        font-size: 16px;
    }
    
}